# .gitignore
/home/achazhoor/Documents/2024/ssd/data
/home/achazhoor/Documents/2024/ssd/data/actual
/home/achazhoor/Documents/2024/ssd/data/Train
/home/achazhoor/Documents/2024/ssd/data/Val
/home/achazhoor/Documents/2024/ssd/data/actual/*
/home/achazhoor/Documents/2024/ssd/data/Train/*
/home/achazhoor/Documents/2024/ssd/data/Val/*
*/data/actual
*/data/Train
*/data/Val
*/data/actual/*
*/data/Train/*
*/data/Val/*
/data/actual/*
/data/Train/*
/data/Val/*
/home/achazhoor/Documents/2024/ssd/outputs
*/outputs
*/outputs/*
/outputs/*
outputs/*
outputs/
/home/achazhoor/Documents/2024/ssd/outputs/best_model.pth
/home/achazhoor/Documents/2024/ssd/outputs/last_model.pth
/home/achazhoor/Documents/2024/ssd/outputs/*
/home/achazhoor/Documents/2024/ssd/data/archive.zip
/home/achazhoor/Documents/2024/ssd/__pycache__/
/home/achazhoor/Documents/2024/ssd/__pycache__/*
*/__pycache__/
/home/achazhoor/Documents/2024/ssd/__pycache__
/home/achazhoor/Documents/2024/ssd/__pycache__/*
*/__pycache__
